<h1>Calculate Your Shipping Cost!</h1>
<form action="/result">
  <div class="form-group">
    <label for="length">Length of your parcel:</label>
    <input id="length" name="length" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="width">Width of your parcel:</label>
    <input id="width" name="width" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="height">Height of your parcel:</label>
    <input id="height" name="height" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="distance">How many miles is your parcel traveling?</label>
    <input id="distance" name="distance" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="weight">How much does your parcel weight?</label>
    <input id="weight" name="weight" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="speed">Choose a shipping speed: Fast or Standard</label>
    <input id="speed" name="speed" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-danger">Calculate Shipping Cost</button>
</form>
